.log-wrapper {
  flex: 3;
  background-color: white;
  border-radius: 4px;
  padding: 24px;
}
.log-container {
  .log div {
    border: 2px solid black;
    text-align: center;
    flex: 1;
  }
}

.chart-header {
  flex: 1;
  h2 {
    margin-top: 0;
    font-size: 30px;
    span {
      font-size: 14px !important;
    }
  }
  h6 {
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.add-btn-container {
  flex: 1;
  text-align: right;
  button {
    cursor: pointer;
    border: none;
    background-color: #f5ce42;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
  }
}

.training-log-container {
  flex: 3;
  background-color: white;
  border-radius: 4px;
  padding: 24px;
  overflow: auto;
  h2 {
    margin-top: 0;
  }
  .training-log {
    margin-top: 20px;
    background-color: rgba(70, 179, 230, 0.1);
    padding: 6px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    .when {
      padding: 6px;
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-right: 2px solid #46b3e6;
      .day {
        font-weight: bold;
      }
    }
    .activity-desc {
      padding: 6px;
      text-align: center;
      flex: 5;
      font-weight: bold;
      font-size: 20px;
    }
    .time-for-activity {
      padding: 6px;
      text-align: center;
      flex: 2;
      .value {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
