$text-black: #1a1f36;
$text-pink: #e94347;
$text-blue: #132440;
$text-gray: #bbb;
.dashboard-landing-page {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  padding: 24px;
}

.profile-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .displayName {
    .profile-name {
      margin-top: 0;
      font-size: 22px;
      text-align: left !important;
      font-weight: bold;
      color: $text-black;
    }
  }
}

.profile-container {
  background: white;
  flex: 1;
  text-align: center;
  max-width: 375px;
  color: $text-black;
  border-radius: 4px;
  padding: 2rem;
  .image-container {
    position: relative;
    overflow: hidden;
    max-width: 100px;
    border-radius: 4px;
    background-color: rgba(233, 67, 71, 0.1);
    flex: 2;
    height: 100%;
    img {
      width: 100%;
    }
  }
  .metrics-container {
    display: flex;
    flex: 4;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(233, 67, 71, 0.1);
    .metric {
      color: $text-pink;
      flex: 1;
      font-size: 14px;
      p {
        margin: 10px auto;
      }
    }
    .value {
      font-weight: bold;
      font-size: 20px;
      margin-top: 0;
      color: $text-black;
    }
  }
  .btn-container {
    gap: 24px;
    padding-top: 24px;
    button {
      flex: 1;
      color: $text-pink;
      background: white;
      border: 1px solid $text-pink;
      font-weight: bold;
      height: 50px;
      width: 100%;
      border-radius: 4px;
      font-size: 14px;
    }
  }
  .signOut-btn {
    flex: 1;
    color: white;
    background: $text-pink;
    border: 1px solid $text-pink;
    outline: none;
    font-weight: bold;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 24px;
  }
}
